
.winner-table {
  width: 100%; /* Ширина таблицы */  
  max-width: 700px;  
  border-collapse: collapse; /* Слияние границ ячеек */
  font-family: Arial, sans-serif; /* Шрифт таблицы */
}

.winner-table th, .winner-table td {
border: 1px solid #1ad1c2; /* Границы ячеек */
padding: 8px; /* Отступ внутри ячеек */
}

.winner-table .header {
background-color: #085c55; /* Фон заголовка таблицы */
text-align: center; /* Выравнивание текста в заголовке */
font-weight: bold; /* Жирный шрифт в заголовке */
}

.winner-table{
  text-align: center; 
}

.winner-table-content:nth-child(even) {
background-color: #3b3737; /* Цвет фона для четных строк */
}

.winners-page-bottom{
  padding-top: 20px;
}

.winner-color {
  display: flex;
  justify-content: center;
}