.product-wrapper{
    padding: 10px;
}

.product-name {
    padding-top:20px;
    color: aqua;
}

.product-description{
    padding-top:20px;
    color:aquamarine;
}

.product-images{
    padding-top: 20px;
}