.cart-page {
  max-width: 1200px;
  margin: 35px auto;
}
.cart-page {
  .title {
    text-align: center;
  }
  .container__cart {
    display: flex;
  }
  
  .quantity__select_box {
    display: flex;
  }
  
  .quantity__select {
    max-width: 35px;
    appearance: textfield;
  }

  .card {
    width: 95%;
    height: 250px;
  }

  .card__img {
    height: 240px;
  }

  .cart__asside {
    max-width: 150px;
  }
}
