.cart-page {
  max-width: 1200px;
  margin: 35px auto;

  .title {
    text-align: center;
  }

  .empty_cart__title {
    width: 100%;
    text-align: center;
    color: #ec6c03;
    margin-top: 20px;
    font-size: 1.5rem;
    a {
      color: #daffaa;
    }
  }

  .empty_cart__img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .asside__hidden {
    display: none;
  }
  .container__cart {
    display: flex;
    justify-content: center;

  }

  .cart__box {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
  }

  .quantity__select_box {
    justify-content: center;
    display: flex;
  }

  .quantity__select {
    max-width: 40px;
    text-align: center;
    appearance: textfield;
    font-weight: 800;
    height: 35px;
    padding: 0, 5px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    background-color: #d5f0d4;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow:
      inset 2px 2px 4px #d1d9e6,
      inset -2px -2px 4px #f9f9f9;
  }

  .quantity__select_button {
    font-weight: 800;
    width: 20px;
    margin-inline: 5px;
    margin: 0 5px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #266128;
    color: #daffaa;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity .2s;
  }

  .card {
    flex-basis: 100%;
    width: 95%;
    height: 250px;
  }

  .card__img {
    height: 240px;
  }

  .cart__asside {
    flex-basis: 30%;
    margin: 15px 0;
    padding: 5px;
  }

  #removed {
    margin: 0;
    animation: hide 1s;
    opacity: 0;
    transform: scaleY(0%);
    height: 0;
    display: none;
  }

  .card__description {
    flex-basis: auto;
    flex-grow: 1;
  }

  .cart__asside {
    color: #daffaa;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
  }
}

@keyframes hide {
  0% {
    display: block;
    opacity: 1;
    transform: scaleY(100%);
    height: 250px;
  }
  25% {
    display: block;
    opacity: 0;
    transform: scaleY(100%);
    height: 250px;
  }
  99% {
    display: block;
  }
  100% {
    opacity: 0;
    transform: scaleY(0%);
    height: 0;
    display: none;
  }
}
