*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

header {
  /* padding: 0px 0px; */
  padding-bottom: 10px;
}

.header div {
  display: flex;
  justify-content: space-evenly;
}

.header a {
  color: #4caf50;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #0a0a0a;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.notificationTop {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #0a0a0a;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

#current-page {
  animation: comeIn 1.5s ease-in-out;
}

#dissapear {
  animation: comeOut 1.5s ease-in-out;
}

@keyframes comeIn {
  0% {
    transform: translateY(-150%);
  }

  45% {
    transform: translateY(4%);
  }

  80% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes comeOut {
  0% {
    transform: translateY(0%);
  }

  33% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-150%);
  }
}

.mainmenu{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.mainmenu a{ 
  color: green;
}


