body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    /* padding: 0px 0px; */
    padding-bottom: 10px;
    min-width: 450px;
}

.header div {
    display: flex;
    justify-content: space-evenly;
}

.header a {
    color:#4CAF50;
}

main {   
    display: flex; 
    flex-direction: column;  
}

@media (max-width: 700px) {
    main {     
      flex-direction: column;
    }
}


header h1 {
    font-size: 40px;
    font-weight: 800;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.menu-button{
  background-color: #4CAF50;
  border: none; 
  color: white; 
  padding: 5px 16px; 
  text-align: center; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 8px; 
  transition: 0.7s;
}

/* .menu-button:hover{
    background-color: #dacd23; 
    color: rgb(0, 0, 0); 
    border-radius: 16px; 
    transition: 0.7s;
} */

.navigation .menu-button:active {
    transition: 0.3s;
    transform: scale(0.9);
}

.navigation {
    padding: 10px;
    padding-left: 10px;
    /* width:100%; */
    /* min-height: 500px; */
    background-color: rgb(79, 80, 136);
}

.wrapper{
    /* padding: 10px;        */
    width: 100%;    
}

#contentWinners {
    display: none;
}


.new-car__form{
    display: flex;
}

.update-car__form{
    display: flex;
}

.main-control-panel{
    padding-top: 10px;
}

.car-name{
    width: 220px;
}


.track{
    display: flex;
    flex-direction: column;
}

.car-name-show{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
   font-style: oblique;
}

.track-top{
    display: flex;
}  

.track-engine{
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}

.car_and_flag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.car-icon {
    margin-top: 10px;   
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 20px;    
}

.flag {
    margin-right: 75px;
    width: 2px;
    height: 50px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), black);
}

.road {
    width: 100%;
    background-color: #dacd23;
    border-style: dashed
}

button[disabled] {
    background-color: gray;
    color: white;
} 
