.catalog {
  max-width: 1200px;
  margin: 35px auto;
}

.catalog__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: max(30%, 380px);
  padding: 5px;
  margin: 15px 10px;
  display: flex;
  height: 200px;
  border-radius: 5px;
  background-color: #121e13;
  color: #daffaa;
  box-shadow:
    4px 4px 10px #3f4636,
    -4px -4px 10px #444d3a;

  &__img_container {
    width: 200px;
  }

  &__img {
    display: block;
    width: 190px;
    height: 190px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #fff;
  }

  &__description {
    padding-left: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__description_body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__description_body-properties {
    flex-grow: 1;
  }

  &__description_title {
    margin-bottom: 10px;
  }

  &__description_price {
    margin: 5px auto;
  }

  .card__price--discounted {
    color: red;
  }
}

.category__tree {
  & ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  & li {
    position: relative;
    cursor: pointer;
    color: #fff;
  }
  
  & li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    border-left: 1px solid rgb(16, 103, 8);
    height: 100%;
    box-shadow: 0 0 2px rgba(0, 255, 0, 0.7), 0 0 4px rgba(0, 255, 0, 0.5), 0 0 6px rgba(0, 255, 0, 0.3);
  }
  
  & li:after {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    border-bottom: 1px solid rgb(4, 100, 17);
    border-left: 1px solid rgb(4, 100, 17);
    border-radius: 0 0 0 5px;
    width: 13px;
    height: 10px;
  }
  
  & ul {
    padding-left: 20px;
    position: relative;
  }

  & li:last-child::before {
    height: 7px;
  }
  
}

.container__catalog {
  display: flex;
}

li.category__current {
  color: red;
}
